@font-face {
  font-family: Tenor;
  src: url("fonts/TenorSans-Regular.ttf");
}

@font-face {
  font-family: Josefin;
  src: url("fonts/JosefinSans-Regular.ttf");
}

.header {
  font-family: Tenor;
  color: black;
  text-align: center;
  font-size: 36px;
  padding: 100px 0 0;
}
img {
  max-width: 100%;
}

.whole-page {
  width: 60%;
  padding: 0;
}
