@font-face {
    font-family: "Tenor";
    src: url("TenorSans-Regular.ttf");
  }

  @font-face {
    font-family: "Josefin";
    src: url("JosefinSans-Regular-6762afeccd02d16a80409b78fb85251c.ttf");
  }